.form {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-gap: 20px;
}

@media (max-width: 650px) {
    .form {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 15px;
    }
}

.form__input {
    padding: 10px;
    border: 2px solid #eeeeee;
}

.form__button {
    background-color: #008080;
    color: #ffffff;
    padding: 10px 5px;
    border: none;
}