.form {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
}

@media (max-width: 550px) {
    .form {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 15px;
    }
}

.form__button {
    background-color: #008080;
    color: #ffffff;
    padding: 5px;
    border: none;
}