.form {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-gap: 20px;
}

@media (max-width: 720px) {
    .form {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 15px;
    }
}

.form__input {
    padding: 5px;
    border: 2px solid hsl(0, 0%, 93%);
}

.form__button {
    background-color: hsl(180, 100%, 25%);
    transition: background-color 1s, transform 0.2s;
    border: 1px solid hsl(180, 95%, 31%);
    color: hsla(0, 0%, 100%, 0.993);
    padding: 5px;
}

.form__button:hover {
    background-color: hsl(180, 100%, 29%);
    transform: scale(1.1);
}

@media (max-width: 720px) {
    .form__button:hover {
        transform: scale(1.04);
    }
}

.form__button:active {
    box-shadow: inset 0px 1px 3px 2px hsl(180, 98%, 21%);
}