.form {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-gap: 20px;
}

@media (max-width: 650px) {
    .form {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 15px;
    }
}

.form__input {
    padding: 5px;
    border: 2px solid hsl(0, 0%, 93%);
}

.form__button {
    background-color: hsl(180, 100%, 25%);
    border: 1px solid hsl(180, 95%, 31%);
    color: hsl(0, 0%, 100%);
    font-size: smaller;
    padding: 5px;
}

.form__button:hover {
    box-shadow: 0px 2px 3px 0px hsl(180, 98%, 21%);
}

.form__button:active {
    box-shadow: inset 0px 2px 3px 2px hsl(180, 98%, 21%);
}