.section {
    background-color: hsl(0, 0%, 100%);
}

.section__body {
    border-top: 2px solid hsl(0, 0%, 93%);
    padding: 15px;
}

.section__header--position {
    padding-left: 15px;
}

.section__header--buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 895px) {
    .section__header--buttons {
        flex-flow: column;
        align-items: stretch;
    }
}

.section__buttons {
    border: none;
    background: none;
    color: hsl(180, 100%, 25%);
    margin-right: 15px;
    transition: filter 0.5s;
}

.section__buttons:hover {
    filter: saturate(350%);
}

@media (max-width: 895px) {
    .section__buttons {
        margin: 10px auto;
        display: flex;
        flex-direction: column;
        padding-bottom: 15px;
    }
}

.section__buttons:disabled {
    color: hsla(180, 22%, 62%, 0.603);
}