html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    display: grid;
    justify-content: center;
    background-color: #eeeeee;
    font-family: Lato, sans-serif;
    word-break: break-word;
}
